<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>hapi</title>
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
	<div class="container home">
		<header class="header">
			<div class="logo flex-center">
				<!-- <img src="https://cdn.shopify.com/s/files/1/0389/6629/t/23/assets/logo.png?1362"/> -->
				<span class="name">Game's Space</span>
			</div>
			<!-- login -->
			<div class="">
				<!-- 问题反馈 -->
				<span class="menu">Questions</span>
				<button class="dy-button dy-button-primary">login</button>
			</div>
		</header>
		<!-- 主体内容区域 -->
		<div class="content">
			<!-- 中间区域 -->
			<div class="content-mid flex">
				<div class="info">
					<p class="title">Play your games better and love your life</p>
					<p class="desc">
						Create your own private game, secure, untraceable digital token. Use the Incognito SDK to build your own privacy-protecting applications. Incognito is decentralized by design and secured by hundreds of nodes, so no downtime, censorship or third-party interference.
					</p>
					<!-- question -->
					<p class="mt20 contact">
						If you have some better idea or coments, you can contact us. Thanks my bro.
					</p>
				</div>
				<div class="svg">
					<img src="./svg/game.svg">
				</div>
			</div>

			<!-- 做一些动画 -->
			<div class="canvas center align-center">
				<!-- 这里做一些动画展示 -->
				<!-- 普通的⚪圆形 -->
				<div class="circle">
					<h3 class="text-center">普通圆形</h3>
					<img src="./svg/circle.svg">
				</div>
				<div class="circle">
					<h3 class="text-center">经典RGB颜色</h3>
					<img src="./svg/ellipse.svg">
				</div>
				<div class="circle">
					<h3 class="text-center">火影</h3>
					<img src="./svg/fire.svg">
				</div>
			</div>
		</div>
	</div>
</body>
</html>